body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-family: poppins;
}

.forgot-card {
  background: #ffffff;
  width: 400px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Title */
.forgot-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

/* Subtitle */
.forgot-subtitle {
  font-size: 14px;
  color: #444343;
  margin-bottom: 15px;
  text-align: center;
}

/* EMAIL + SEND BUTTON */

.email-send-row {
  display: flex;
  gap: 8px;
  margin-bottom: 18px;
}

.forgot-input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.forgot-input:focus {
  border-color: #4f46e5;
}

/* Send button */
.forgot-send-btn {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background-color: #4f46e5;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.forgot-send-btn:hover {
  background-color: #4338ca;
}

.enter-email-text {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

/* OTP SECTION */

.enter-otp-text {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.otp-boxes {
  display: flex;
  justify-content: space-between;
}

.otp-boxes input {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.otp-boxes input:focus {
  border-color: #4f46e5;
}

/* Info text */
.otp-info {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

/* VERIFY & RESEND */

.verify-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #22c55e;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.verify-btn:hover {
  background-color: #16a34a;
}

.resend-text {
  margin-top: 12px;
  font-size: 15px;
  text-align: center;
}

.resend-text span {
  color: #4f46e5;
  font-weight: 600;
  cursor: pointer;
}

.resend-text span:hover {
  text-decoration: underline;
}


/* RESPONSIVE */
@media (max-width: 480px) {
  .forgot-card {
    width: 100%;
    padding: 28px;
  }

  .otp-boxes input {
    width: 35px;
    height: 35px;
  }
}
