/* OTP HEADER ADAPTER  */

.otp-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 24px;
}

.otp-header h1 {
  font-size: 32px;
  font-weight: 750;
  color: #111827;
}

.otp-header h1 span {
  color: #6366f1;
}

/* LOGO (EXACT SAME AS OTP PAGE) */
.logo-icon {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #a5f68f, #2dfc94);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(36, 251, 140, 0.3);
  overflow: hidden;
}

.logo-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: white;
  border-radius: 50%;
  padding: 6px;
}

/* =================================================
   FORGOT PASSWORD CARD ONLY
   ================================================= */

/* Lift content above grid */
.otp-wrapper {
  position: relative;
  z-index: 5;
}

/* CARD */
.forgot-card {
  background: #ffffff;
  width: 400px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 6;
}

/* TITLE */
.forgot-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6px;
}

/* SUBTITLE */
.forgot-subtitle {
  font-size: 14px;
  color: #444343;
  margin-bottom: 15px;
  text-align: center;
}

/* LABELS */
.enter-email-text,
.enter-otp-text {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

/* EMAIL + SEND */
.email-send-row {
  display: flex;
  gap: 8px;
  margin-bottom: 18px;
}

.forgot-input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.forgot-send-btn {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background-color: #4f46e5;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* OTP */
.otp-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.otp-boxes input {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/* INFO */
.otp-info {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

/* VERIFY */
.verify-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #22c55e;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* RESEND */
.resend-text {
  margin-top: 12px;
  font-size: 15px;
  text-align: center;
}

.resend-text span {
  color: #4f46e5;
  font-weight: 600;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .forgot-card {
    width: 100%;
    padding: 28px;
  }

  .otp-boxes input {
    width: 35px;
    height: 35px;
  }
}
